<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="font-size: 24px;">Cinta Koding</span>
        <span class="spacer"></span>
        <div class="menu">
            <span style="font-size: 24px;">Welcome, </span>
            <a class="dropdown" style="font-size: 24px; color: white;"> <u> {{name}} </u>
                <ul class="isi-dropdown">
                    <li><a href="/profile">Profile</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 50px; margin-left: 500px;">
    <mat-card class="my-card">
        <button mat-button routerLink="/dashboard" style="font-size: 14px; color: white; background-color: slateblue;">
             back
        </button>
        <mat-toolbar color="whitesmoke">
            <hr width="100%" color="slateblue"> 
            <span style="font-size: 24px;">Post</span>
            <hr width="100%" color="slateblue">
        </mat-toolbar>
        <mat-card-content>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="text-align:center; margin-right: 3px;"></th>
                        <th scope="col" style="text-align:center; margin-right: 3px;"></th>
                      </tr>
                    </thead>              
                    <tbody>
                      <tr class="col">
                        <th class="align" style="font-size: 16px;">
                            {{post.userId}} <br><br><br><br><br><br><br><br>
                        <td style="font-size: 16px;">
                            <b>{{post.title}}</b> <br><br>
                            {{post.body}}<br><br>
                            <span style="font-size: 12px;"> 
                              <u> 5 comments </u>
                            </span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>