.my-card{
    width: 50%;
    background-color: whitesmoke;
  }
   
  .full-width {
    margin-top: 20px;  
    width: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .menu ul {
    cursor: default;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .menu > ul > li {
    float: right;
  }


  .menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu li a:hover{
    background-color: #2525ff;
  }

  .dropdown {
    display: inline-block;
    margin-right: 10px;
}

.dropdown:hover .isi-dropdown {
    font-size: 14px;
    display: block;
}

.isi-dropdown a:hover {
    font-size: 14px;
    color: #fff !important;
}

.isi-dropdown {
    font-size: 14px;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f9f9f9;
}

.isi-dropdown a {
    font-size: 14px;
    color: #3c3c3c !important;
}

.isi-dropdown a:hover {
    font-size: 14px;
    color: #232323 !important;
    background: #f3f3f3 !important;
}

.align {
  text-align: right;
  width: 15%;
  padding-right: 25px;
}