<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="font-size: 24px;">Cinta Koding</span>
        <span class="spacer"></span>
        <div class="menu">
            <span style="font-size: 24px;">Welcome, </span>
            <a class="dropdown" style="font-size: 24px; color: white;"> <u> {{name}} </u>
                <ul class="isi-dropdown">
                    <li><a href="/profile">Profile</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 50px; margin-left: 500px;">
    <mat-card class="my-card">
        <button mat-button routerLink="/dashboard" style="font-size: 14px; color: white; background-color: slateblue;">
             back
        </button>
        <mat-toolbar color="whitesmoke">
            <hr width="100%" color="slateblue"> 
            <span style="font-size: 24px;">Profile</span>
            <hr width="100%" color="slateblue">
        </mat-toolbar>
        <mat-card-content>
            <div class="table-responsive" style="margin-left: 100px;">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" style="text-align:center; width: 10%;"></th>
                        <th scope="col" style="text-align:center;"></th>
                      </tr>
                    </thead>              
                    <tbody>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Name
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.name}}
                        </td>
                      </tr>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Username
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.username}}
                        </td>
                      </tr>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Email
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.email}}
                        </td>
                      </tr>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Address<br><br>
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.address.street}}, {{profile.address.suite}}, {{profile.address.city}}, {{profile.address.zipcode}}
                        </td>
                      </tr>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Phone
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.phone}}
                        </td>
                      </tr>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Website
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.website}}
                        </td>
                      </tr>
                      <tr class="col" colspan="2">
                        <th class="align" style="font-size: 16px;">
                            Company
                        </th>
                        <td>:</td>
                        <td style="font-size: 16px;">
                            {{profile.company.name}}
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>