<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="font-size: 24px;">LOGIN</span>
        <span class="spacer"></span>
        <a mat-button routerLink="/home" style="font-size: 16px; background-color: midnightblue;">Back</a>
    </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 50px; padding-left: 500px;">
    <mat-card class="my-card">
        <mat-toolbar color="primary">
            <span style="font-size: 24px;"> CINTA KODING</span>
        </mat-toolbar>
        <mat-card-content style="margin-top: 10px;">
            <span class="status-message" *ngIf = "status == false">{{message}}</span>
            <form class="my-form" [formGroup]="formLogin">
               <mat-form-field class="full-width">
                  <mat-label style="font-size: 16px;">Username</mat-label>
                  <input formControlName="username"  matInput placeholder="Username" name="username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label style="font-size: 16px;">Password</mat-label>
                    <input type="password" formControlName="password" matInput  placeholder="Password" name="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="onClickSubmit()" color="primary" style="margin-top: 10px; margin-left: 440px;">LOGIN</button>
        </mat-card-actions>
    </mat-card>
</div>