.my-card{
    width: 50%;
    background-color: whitesmoke;
  }

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    margin-top: 20px;  
    width: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .status-message{
    align-content: center;
    color: red;
    font-size: medium;
  }