<mat-toolbar color="primary">
    <mat-toolbar-row>
       <span style="font-size: 24px;">Cinta Koding</span>
       <span class="spacer"></span>
       <a mat-button routerLink="/login" style="font-size: 14px;">Login</a>
    </mat-toolbar-row>
 </mat-toolbar>
 <div style="padding: 20px;">
            <img src="assets/img/login.png" width="68%" style="margin-left: 200px; position: fixed;">
</div>
