<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="font-size: 24px;">Cinta Koding</span>
        <span class="spacer"></span>
        <div class="menu">
            <span style="font-size: 24px;">Welcome, </span>
            <a class="dropdown" style="font-size: 24px; color: white;"> <u> {{name}} </u>
                <ul class="isi-dropdown">
                    <li><a href="/profile">Profile</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 50px; margin-left: 500px;">
    <mat-card class="my-card">
        <mat-toolbar color="whitesmoke">
            <hr width="100%" color="slateblue"> 
            <span style="font-size: 24px;">Post</span>
            <hr width="100%" color="slateblue">
        </mat-toolbar>
        <mat-card-content>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="text-align:center; margin-right: 3px;"></th>
                        <th scope="col" style="text-align:center; margin-right: 3px;"></th>
                      </tr>
                    </thead>              
                    <tbody>
                      <tr class="col" *ngFor="let datas of post">
                        <th class="align" style="font-size: 16px;">
                          {{datas.userId}} <br><br>
                        </th>
                        <td style="font-size: 16px;">
                          {{datas.title}} <br>
                          <span style="font-size: 12px;"> 
                            5 comments  |  
                            <a routerLinkActive="active" (click)="detail(datas)">
                                <span><u>detail</u></span>
                            </a>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>